#root {
  margin: 1em;
}

#content {
  margin-left: 1em;
  margin-right: 1em;
}

.rubricTitle {
  font-size: x-large;
}

.sectionTitle {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.criterion {
  padding-left: 2em;
  padding-bottom: 0.4em;
}

.criterionTitle {
  font-weight: bold;
  padding-right: 1em;
}

.textAreaCriterion {
  margin-bottom: 1em;
}

.textAreaCriterionCell {
  border: 1px solid black;
}
button.clickable {
  border: 1px solid #fafafa;
  padding: 4px 6px 4px 6px;
  background-color: #fafafa;
  border-radius: 4px;
}

.clickable.full {
  background-color: #80ff80;
  font-weight: bold;
}

.clickable.partial {
  background-color: #ffff40;
  font-weight: normal;
}

button:hover.clickable {
  border: 1px solid #808080;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
